/* .bg {
    background-color: #B85042;
    margin: 0px;
    padding: 0px;
} */

.header{
    display: flex;
    justify-content: center;
}

.footer {
    text-align: center;
    position: relative;
    bottom: -340px;
    width: 100%;
    height: 50px;
    /* Height of the footer */
}